{
  "presets": ["next/babel"],
  "plugins": [
    [
        "module-resolver",
        {
            "root": ["."],
            "alias": {
                "utils": "./src/utils",
                "@modules": "./src/modules",
                "config": "./config"
            }
        }
    ]
  ]
}